
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,600&display=swap');

.petImageContainer{
    justify-content: center;
    display: flex;
    
}

.bigtext1{
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
    color: orange;
    text-align: center;
    margin: 10px;
}

.choosetext {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    color: orange;
    text-align: center;
    margin: 10px;
}

.bigsmalltxt1{
    font-size: x-large;
    font-family: 'Kanit', sans-serif;
    color: orange;
    text-align: center;
    margin: 10px;
    padding: 20px;
    }

.pet-image{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.ytimg.com/vi/UNOmaFs6KaY/maxresdefault.jpg);
    color: white;
}

.pet-selection {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.pet-container {
    text-align: center;
}

.status {
    margin: 20px;
}

.attribute {
    display: flex;
    justify-content:flex-start;
    margin-bottom: 10px;
}

.attribute p {
    font-weight: bold;
}

.attribute-specific {
    display: flex;
    justify-content:flex-start;
    margin-bottom: 10px;
}

.attribute-specific p {
    font-weight: bold;
}

.hunger-bar,
.thirst-bar,
.happiness-bar,
.squawkLevel-bar,
.roarLevel-bar,
.chuckleLevel-bar,
.drumLevel-bar {
    height: 20px;
    max-width: 300px;
    background-color: #ccc;
}

.hunger,
.thirst,
.happiness,
.squawkLevel,
.roarLevel,
.chuckleLevel,
.drumLevel {
    height: 20px;
    max-width: 300px;
    background-color: green;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.basic-actions,
.pet-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    background-color: #0074d9;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.restart-btn {
    background-color: #FF4136;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.restart-btn:hover {
    background-color: #D0021B;
}