
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,600;1,600&display=swap');

.petImageContainer{
    justify-content: center;
    display: flex;
    
}

.bigtext1{
    font-size: 60px;
    font-family: 'Kanit', sans-serif;
    color: orange;
    text-align: center;
    margin: 10px;
}

.choosetext {
    font-size: 40px;
    font-family: 'Kanit', sans-serif;
    color: orange;
    text-align: center;
    margin: 10px;
}

.bigsmalltxt1{
    font-size: x-large;
    font-family: 'Kanit', sans-serif;
    color: orange;
    text-align: center;
    margin: 10px;
    padding: 20px;
    }

.pet-image{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(https://i.ytimg.com/vi/UNOmaFs6KaY/maxresdefault.jpg);
    color: white;
}

.pet-selection {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameplayImage {
    width: 400px;
    height: 400px;
}

.pet-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.statsAndControls {
    width: 500px;
}

.graphics {
    width: 500px;
    height: 400px;
    margin-left:50px;
    border-style: solid;
    border-radius: 15px;
    border-width: 10px;
    border-color: white;
    background-color: black;
}

.status {
    margin: 35px 20px 20px 20px;
    padding:20px;
    border-style: solid;
    border-radius: 15px 15px 0px 0px;
    border-width: 10px;
    border-color: white;
    background-color: black;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    padding:20px;
    border-style: solid;
    border-radius: 15px 15px 0px 0px;
    border-width: 10px;
    border-color: white;
    background-color: rgb(84, 84, 84);
}

.basic-actions,
.pet-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat {
    width: 100px;
    text-align: left;
    
}

.attribute {
    display: flex;
    justify-content:flex-start;
}

.attribute p {
    font-weight: bold;
}

.attribute-specific {
    display: flex;
    justify-content:flex-start;
}

.attribute-specific p {
    font-weight: bold;
}

.hunger-bar,
.thirst-bar,
.happiness-bar,
.squawkLevel-bar,
.roarLevel-bar,
.chuckleLevel-bar,
.drumLevel-bar {
    height: 20px;
    min-width: 300px;
    background-color: #ccc;
    margin-left: 10px;
    margin-top:15px;
}

.hunger,
.thirst,
.happiness,
.squawkLevel,
.roarLevel,
.chuckleLevel,
.drumLevel {
    margin-top: 5px;
    border-radius: 0px 20px 20px 0px;
    height: 10px;
    max-width: 300px;
    background-color: rgb(4, 150, 4);
    box-shadow:
    inset 0 0 50px #02f748,      /* inner white */
    inset 20px 0 80px rgb(7, 222, 75),   /* inner left magenta short */
    inset -20px 0 80px #0ff,  /* inner right cyan short */
    inset 20px 0 300px rgb(16, 213, 122),  /* inner left magenta broad */
    inset -20px 0 300px #0ff, /* inner right cyan broad */
    0 0 50px #fff,            /* outer white */
    -10px 0 80px rgb(122, 226, 155),        /* outer left magenta */
    10px 0 80px #0ff;         /* outer right cyan */
}

button {
    background-color: #0074d9;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.restart-btn {
    background-color: #FF4136;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #830903;
}

.game-over p {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    color: rgb(254, 26, 9);
    text-align: center;
    margin: 30px;
}